/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

.highlight {
    font-weight: bold;
}



td.progressGridCell {
    width: 75px;
    text-align: center;
}

.statDetail, .statDetailHeader, .teamNo, .teamNoHeader {
    text-align: center;
}
*/
.bg { background-color: black; }
