<div class="page-header">
  <h2>Add Game #{{ ctrl.games.length + 1 }}</h2>
</div>
<div class="alert alert-success" ng-show="ctrl.newGame.message">
  {{ ctrl.newGame.message }}
</div>
<form class="container-fluid" ng-submit="ctrl.addGame()">

  <div class="row">
    <div class="col-sm-12">
      <label for="">Game Date:</label>
      <input type="date" ng-model="ctrl.newGame.date" required class="form-control form-control-auto">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="form-group well col-sm-5">
      <h3>
        <label for="">Away Team</label>
      </h3>
      <select ng-model="ctrl.newGame.awayTeamId" class="form-control" required>
        <option value=""></option>
        <option ng-repeat="team in ctrl.teamSelect" value="{{ team.id }}">{{ team.label }}</option>
      </select>
      <br><p>
        <label for="">Final Score</label>
        <input type="number" class="form-control form-control-auto" ng-model="ctrl.newGame.finalScoreAwayTeam" required min="0">

      </p>
    </div>
    <div class="col-sm-2 at-symbol">
      @
    </div>
    <div class="form-group well col-sm-5">
      <h3>
        <label for="">Home Team</label>
      </h3>
      <select ng-model="ctrl.newGame.homeTeamId" class="form-control" required>
        <option value=""></option>
        <option ng-repeat="team in ctrl.teamSelect" value="{{ team.id }}">{{ team.label }}</option>
      </select>
      <br><p>
        <label for="">Final Score</label>
        <input type="number" class="form-control form-control-auto" ng-model="ctrl.newGame.finalScoreHomeTeam" required min="0">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr />
      <div class="checkbox">
        <label><input type="checkbox" ng-model="ctrl.newGame.hadOT"> OverTime</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox"ng-model="ctrl.newGame.hadSO"> Shootout</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
      <button class="btn btn-primary" ng-disabled="ctrl.newGame.finalScoreAwayTeam === ctrl.newGame.finalScoreHomeTeam && ctrl.newGame.awayTeam.Id === ctrl.newGame.hoemTeamId">Add Game</button>
    </div>
  </div>
</form>
