<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>
  <script src="app/teams.js"></script>
  <script src="app/games.js"></script>
  <script src="app/n15.js"></script>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div ng-app="n15App" ng-controller="n15Controller"  class="container">

        <div id="standings">
            <table class="table table-bordered">
                <tr>
                    <th class="teamNoHeader">Team No</th>
                    <th>Team Name</th>
                    <th>Players</th>
                    <th class="statDetailHeader">GP</th>
                    <th class="statDetailHeader">W</th>
                    <th class="statDetailHeader">RL</th>
                    <th class="statDetailHeader">OSL</th>
                    <th class="statDetailHeader">PTS</th>
                    <th class="statDetailHeader">SW</th>
                    <th class="statDetailHeader">SL</th>
                    <th class="statDetailHeader">ROW</th>
                    <th class="statDetailHeader">GF</th>
                    <th class="statDetailHeader">GA</th>
                    <th class="statDetailHeader">GDIFF</th>
                </tr>
                <tr ng-repeat="x in teams | orderBy: ['-points', 'gamesPlayed', '-regulationOvertimeWins','-goalDifferential']">
                    <td class="teamNo">{{x.id}}</td>
                    <td>{{x.teamName}}</td>
                    <td>{{x.teammates}}</td>
                    <td class="statDetail">{{x.gamesPlayed}}</td>
                    <td class="statDetail">{{x.wins}}</td>
                    <td class="statDetail">{{x.regulationLosses}}</td>
                    <td class="statDetail">{{x.overtimeShootoutLosses}}</td>
                    <td class="statDetail">{{x.points}}</td>
                    <td class="statDetail">{{x.shootoutWins}}</td>
                    <td class="statDetail">{{x.shootoutLosses}}</td>
                    <td class="statDetail">{{x.regulationOvertimeWins}}</td>
                    <td class="statDetail">{{x.goalsFor}}</td>
                    <td class="statDetail">{{x.goalsAgainst}}</td>
                    <td class="statDetail">{{x.goalDifferential}}</td>
                </tr>
            </table>
        </div>
        <br/>
        <div id="progress">
            <h2 class="page-header">Games Played: {{gameResults.length}} out of {{totalGames}} ({{percentGamesPlayed}}%) </h2>
            <table class="table table-bordered" id="progressGrid">
                <tr>
                    <td ng-repeat="x in teams" ng-class="{progressGridCell: true}">
                        <b>{{x.city}}</b>
                    </td>
                    <td></td>
                </tr>
                <tr ng-repeat="x in teams">
                    <td ng-repeat="y in teams" ng-class="{bg: $index==$parent.$index, progressGridCell: true}">
                        {{progressGrid[x.id - 1][y.id - 1]}}
                    </td>
                    <td>
                        <b>@{{x.city}}</b>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <div id="scores">
            <table class="table table-bordered">
                <tr>
                    <th>Game Id</th>
                    <th>Game Date</th>
                    <th>Visiting Team</th>
                    <th>Home Team</th>
                    <th>Result</th>
                </tr>
                <tr ng-repeat="x in gameResults">
                    <td>{{x.id}}</td>
                    <td>{{x.date}}</td>
                    <td>
                        <span ng-show="awayTeamWon(x.finalScoreAwayTeam, x.finalScoreHomeTeam)" class="highlight">
                                {{teams[x.awayTeamId - 1].teamName + " (" + teams[x.awayTeamId - 1].teammates + ")"}}
                        </span>
                        <span ng-show="!awayTeamWon(x.finalScoreAwayTeam, x.finalScoreHomeTeam)">
                                {{teams[x.awayTeamId - 1].teamName + " (" + teams[x.awayTeamId - 1].teammates + ")"}}
                        </span>
                    </td>
                    <td>
                        <span ng-show="homeTeamWon(x.finalScoreAwayTeam, x.finalScoreHomeTeam)" class="highlight">
                                @{{teams[x.homeTeamId - 1].teamName + " (" + teams[x.homeTeamId - 1].teammates + ")"}}
                        </span>
                        <span ng-show="!homeTeamWon(x.finalScoreAwayTeam, x.finalScoreHomeTeam)">
                                @{{teams[x.homeTeamId - 1].teamName + " (" + teams[x.homeTeamId - 1].teammates + ")"}}
                        </span>
                    </td>
                    <td>{{formattedGameResult(x.finalScoreAwayTeam, x.finalScoreHomeTeam, x.hadOT, x.hadSO);}}</td>
                </tr>
            </table>
        </div>
    </div>



</body>
</html>
