<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body ng-app="n15-teams">
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="page-header clearfix">
      <h1 class="pull-left">Add Game #<%= gameID %></h1>
      <!-- <button class="btn btn-primary pull-right">Add Team</button> -->
    </div>

    <!-- add form -->
    <form action="/api/games" id="addGame">
      <div class="form-group">
        <label for="">Date:</label>
        <input type="date" id="gameDate" required>
      </div>
      <div class="row">
        <div class="form-group col-sm-2">
          <label for="">Home Team</label><br />
          <select name="homeTeam" id="homeTeam" required>
            <option value="">Select A Team</option>
            <option value="1">Anaheim</option>
            <option value="2">Tampa</option>
            <option value="3">Chicago</option>
            <option value="4">Washington</option>
            <option value="5">Montreal</option>
            <option value="6">St. Louis</option>
            <option value="7">Dallas</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label for="">Final Score</label><br />
          <input type="number" id="finalScoreHomeTeam" required>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-2">
          <label for="">Away Team</label><br />
          <select name="awayTeam" id="awayTeam" required>
            <option value="">Select A Team</option>
            <option value="1">Anaheim</option>
            <option value="2">Tampa</option>
            <option value="3">Chicago</option>
            <option value="4">Washington</option>
            <option value="5">Montreal</option>
            <option value="6">St. Louis</option>
            <option value="7">Dallas</option>
          </select>
        </div>
        <div class="form-group col-sm-2">
          <label for="">Final Score</label><br />
          <input type="number" id="finalScoreAwayTeam" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="checkbox">
            <label for="hadOT">
              <input id="hadOT" type="checkbox"> Had Overtime
            </label>
          </div>
          <div class="checkbox">
            <label for="hadSO">
              <input id="hadSO" type="checkbox"> Had Shootout
            </label>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn btn-primary">Add Game</button>
    </form>
  </div>
  <script>
    var gameID = <%= gameID %>;
    $('#addGame').on('submit', function(e) {
      e.preventDefault();
      var $form = $(this);

      function dateTransform(gameDate) {
        var d = gameDate.split('-');
        return [d[1],d[2],d[0]].join('/');
      }
      var game = {
        id: gameID,
        date: dateTransform( $('#gameDate').val() ),
        homeTeamId: $('#homeTeam').val(),
        finalScoreHomeTeam: Number($('#finalScoreHomeTeam').val()),
        awayTeamId: $('#awayTeam').val(),
        finalScoreAwayTeam: Number($('#finalScoreAwayTeam').val()),
        hadOT: $('#hadOT').prop('checked'),
        hadSO: $('#hadSO').prop('checked')
      };
      var ajaxOptions = {
        url: $form.attr('action'),
        method: 'POST',
        data: game
      }

      $.ajax(ajaxOptions).done(function(data) {
        if(data.message === "Game Saved") {
          window.location = '/';
        } else {
          alert(data.message);
        }
      });

    });
  </script>
</body>
</html>
